@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Janna LT';
  src: url('/fonts/JannaLT-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Janna LT';
  src: url('/fonts/JannaLT-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: white;
  font-family: 'Janna LT', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .font-outfit {
    font-family: var(--font-outfit);
  }

  .font-dancing {
    font-family: var(--font-dancing);
  }
}